---
BasedOnStyle: Google
AlignArrayOfStructures: Right
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
  AlignCompound: true
AlignConsecutiveBitFields:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
  AlignCompound: true
  AlignFunctionPointers: true
  PadOperators: true
AlignConsecutiveMacros:
  Enabled: true
AllowShortEnumsOnASingleLine: false
BreakBeforeBraces: Stroustrup
BreakConstructorInitializers: BeforeComma
DerivePointerAlignment: false
InsertBraces: true
NamespaceIndentation: All
PackConstructorInitializers: Never
QualifierAlignment: Right
Standard: Latest
